.DS_Store
.env
.idea
.phpunit.result.cache
/node_modules
/public/build
/public/js
/public/mix-manifest.json
/public/storage
/vendor
composer.lock
Homestead.json
Homestead.yaml
launch.json
phpunit.xml.bak
tests/coverage